#rotate, #skew, #all, #animate, #pseudo{
  border: 2px solid #000;
  width: 200px;
  height: 200px;
  display: block;
  margin: 10px;
}

#animate{
  font-size: 50px;
  text-align: center;
  line-height: 200px;
}

#pseudo, #jsEvent{
  background-color: salmon;
  color: pink;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
}

h3{
  border-bottom: 1px solid #000;
  text-align: center;
}

